.App {
  cursor: none;
}

.App.show-controls {
  cursor: default;
}

.App.show-controls #control-panel {
  opacity: 1;
}

#control-panel {
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 20px;
  z-index: 1;
  border: 1px solid grey;
  background: rgba(255,255,255,.8);
  opacity: 0;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transition: transform 1s linear;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  transform-origin: 0 0;
}

.video-container {
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
